.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.8;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/likeIcon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/liked-logo.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  z-index: 1;
  background-image: url(../images/Delete-logo.svg);
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete-hover.svg);
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  white-space: nowrap;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    width: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
