.footer {
  margin: 0;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.footer__copyright {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #212121b2;
  margin: 0;
}
