.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  background-color: #000000;
  padding: 0px;
  border-radius: 6px;
}

.profile__pencil-icon {
  padding: 12px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  opacity: 0.5;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 12px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border-style: none;
  background-color: #fcf5e5;
  display: flex;
  cursor: pointer;
  opacity: 0.7;
  gap: 8px;
}

.profile__edit-btn:hover {
  color: #212121;
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  margin-left: auto;
  width: 157px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__plus-btn {
  width: 12px;
  height: 12px;
  display: flex;
}

.profile__avatar {
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    visibility: visible;
    opacity: 0.6;
    background-color: #212121;
    height: 23px;
    width: 23px;
    border-radius: 6px;
    margin: 52px 52px 4px;
    align-items: center;
    justify-content: center;
  }

  .profile__pencil-icon {
    padding: 0;
  }

  .profile__avatar-btn::after {
    display: none;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    justify-content: center;
  }
}
